# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/
